rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /wishes/{wishId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /rsvps/{rsvpId} {
      allow read: if false;
      allow create: if true;
      allow update, delete: if false;
    }
  }
}
